
// Portfolio SCSS
 
 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 html {
     height: 100%;
     font-size: 62.5%;
 }

 body {
     min-height: 100vh;
     overflow: hidden;
 }

 @mixin bringCenter() {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 $firstColor: #2EC8D1;
 $secondColor: #438c97;
 $thirdColor: #0d3444;
 $boxColor: #474747;

 .container {
     width: 75%;
     max-width: 1440px;
     height: 100%;
     margin: 0 auto;
 }

 // --------------------------------------------- Main Section [HOME PAGE]

 main {
    width: 100%;
    height: 70vh;
    background-color: $firstColor;             // Fallback JPG background because SAFARI :[
    background-image: url(../images/background.avif), url(../images/background.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
 }

 .mainContainer {
     & .mainText {
         text-align: right;
         font-family: monospace;
         line-height: 1.5;
         font-size: 3.3rem;
         margin-top: 3em;
         user-select: none;
         & > span {
            font-family: 'Cinzel', 'Arial';
            font-weight: 600;
            color: $thirdColor;
         }
     }
 }

 header {
     width: 100%;
     height: 8rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 2rem;
     border-bottom: 1px solid black;
     & ul {
         display: flex;
         gap: 3rem;
     }
     & ul li {
        font-family: 'Cinzel', 'Arial';
        font-weight: 300;
        list-style-type: none;
        font-size: 2rem;
        transition: transform 0.3s ease;
        &:hover {
            transform: translateY(-5px);
        }
     }
     & > h3 {
         font-family: 'Cinzel', 'Arial';
         font-size: 3.2rem;
         user-select: none;
     }
 }

 .projectHead {
     border-bottom: 1px solid black;
 }

 a {
     text-decoration: none;
     color: inherit;
 }

 .mobileMenu {
    display: none;
}

  // ---------------------------------- Skill Section

  .skillSection {
    height: 20vh;
    width: 100%;
    background: $secondColor;
  }

  .flexParent {
      height: 100%;
      width: 100%;
      @include bringCenter();
      gap: 8rem;
      & img {
          max-width: 70%;
          min-width: 85px;
      }
      & > div {
          width: 15rem;
          height: 100%;
          @include bringCenter();
      }
      & div:nth-child(1) img {
          max-height: 45%;
      }
  }

  // ---------------------------------- Footer Section

  footer {
      height: 10vh;
      width: 100%;
      background: $thirdColor;
      @include bringCenter();
      & div {
          height: 5em;
          width: 5em;
          background-image: url(../images/githubIcon.png);
          background-position: center;
          background-size: cover;
          @include bringCenter();
          cursor: pointer;
          transition: transform 1s ease;
          &:hover {
              transform: rotate(360deg);
          }
      }
  }

  // ------------------------------------------ Main Section [Contact Page]

.contactPage {
    height: 90vh;
    overflow: hidden;
    & .formSection {
        width: 100%;
        height: 90%;
        @include bringCenter();
    }
}

.mainForm {
    height: 450px;
    width: 350px;
    background: whitesmoke;
    box-shadow: 1rem 1rem 0rem #181818;
    & .formTitle {
        width: 100%;
        background: black;
        margin-bottom: 1.5em;
        @include bringCenter();
        padding: 1.5rem;
        & > h4 {
            font-size: 3rem;
            color: white;
            font-family: 'Cinzel', 'Arial';
        }
    }
    & .theForm {
        height: 300px;
        @include bringCenter();
        flex-direction: column;
        gap: 2%;
        font-size: 1.7rem;
        font-family: 'Arial';
        & > textarea {
            resize: none;
            font-size: 1.5rem;
        }
    }
    & .bottomForm {
        height: 50px;
        @include bringCenter();
        & > button {
            padding: 0.6em 1.3em;
            appearance: none;
            border: none;
            cursor: pointer;
        }
    }
}

 // ------------------------------------------ Main Section [Projects Page]

 .projectMain {
     height: 90vh;
     background: #3c8893;
 }

 .projectList {
     height: 80vh;
     @include bringCenter();
     gap: 5rem;
     & h2 {
         user-select: none;
         text-align: center;
         font-size: 2.5rem;
         font-family: 'Cinzel';
         padding: 0.4em;
         color: white;
         background: black;
         border-top-left-radius: 2rem;
         border-top-right-radius: 2rem;
         margin-bottom: 0.5em;
     }
     & > div {
         width: 400px;
         height: 425px;
         background: $boxColor;
         border-radius: 2em;
         box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
     }
     & .pictureBG {
        height: 44%;
        width: 280px;
        margin: 0.3em auto 1em;
        border-radius: 1em;
        border: 1px solid black;
     }
     & .projectDescription {
        padding: 2%;
        height: 23%;
        color: white;
        font-size: 1.8rem;
        text-align: center;
        font-family: 'Times New Roman';
     }
     & p {
         @include bringCenter();
         height: 10%;
         font-size: 1.5rem;
         font-family: 'Cinzel';
     }
     & .projectLinks {
         padding: 0.7em;
         border-radius: 0.5em;
         background: black;
         color: white;
     }
 }

 .etchProject > .pictureBG {
     background: url('../images/etch.PNG');
     background-position: center;
     background-size: cover;
 }

 .rPsProject > .pictureBG {
    background: url('../images/rPs.PNG');
    background-position: center;
    background-size: cover;
}



  // ---------------------------------- Media Queries (widths)
  
  @media only screen and (max-width: 87.5em) {
    html {
        font-size: 58.5%;
    }
    .container {
        width: 80%;
    }
    .flexParent {
        gap: 5em;
    }
  }

  @media only screen and (max-width: 62.5em) {      // 1000px [tablet]
    html {
        font-size: 55.5%;
    }
    .container {
        width: 90%;
    }
    .flexParent {
        gap: 2em;
    }
    .projectList {
        gap: 3rem;
        & > div {
            height: 400px;
            width: 375px;
        }
    }
  }

  @media only screen and (max-width: 42.188em) { 
    .flexParent {
        gap: 0em;
            & img {
                min-width: 68px;
            }
    }
  }

  @media only screen and (max-width: 38.438em) {    // 615px [mobile]
    main {
        height: 55vh;
        position: relative;
        & > .menuOverlay {
            z-index: 1;
            position: absolute;
            top: 0;
            width: 100vw;
            height: 100vh;
            background: black;
            opacity: 0.5;
            display: none;
        }
    }
    .mainContainer .mainText {
        font-size: 2.8rem;
    }
    .skillSection {
        height: 35vh;
    }
    .flexParent {
        flex-wrap: wrap;
        & > div {
            height: initial;
            width: 15.59rem; 
        }
        & div:nth-child(1) img {
            max-width: 60%;
        }
        & div:nth-child(6) img {
            max-width: 57%;
        }
    }

    header {                    // hamburger menu
        & ul {
            display: none;
        }
        & .burgerIcon {
            width: 35px;
            height: 23px;
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            & > div:nth-child(2) {
                width: 100%;
                height: 3px;
                background: black;
            }
            & > .topBun {
                width: 100%;
                height: 3px;
                background: black;
                position: absolute;
                top: 0;
            }
            & > .bottomBun {
                width: 100%;
                height: 3px;
                background: black;
                position: absolute;
                bottom: 0;
            }
        }
    }
    .mobileMenu {
        height: 23rem;
        width: 15rem;
        background: $thirdColor;
        position: absolute;
        top: 0;
        right: 0;
        @include bringCenter();
        flex-direction: column;
        gap: 2em;
        z-index: 2;
        display: none;
        box-shadow: inset 0 0 4px;
        & > a {
            font-size: 2.8rem;
            color: white;
        }
    }
    .mobileMenu.active, .menuOverlay.active {
        display: flex;
    }
    .projectList {
        flex-direction: column;
        padding: 5em;
        & > div {
            height: 350px;
            width: 315px;
        }
        & .projectDescription {
            font-size: 1.6rem;
        }
        & .pictureBG {
            width: 215px;
            height: 40%;
        }
        & p {
            font-size: 1.2rem;
            height: 13%;
        }
        & .projectLinks {
            padding: 1em;
        }
    }
    .mainForm {
        width: 330px;
    }
}

@media only screen and (max-width: 28.813em) {      // 461 PX [Mobile] 
    main {
        height: 50vh;
    }
    .skillSection {
        height: 40vh;
    }
    .flexParent {
        & img {
            max-width: 58%;
        }
        & div:nth-child(1) img,
        & div:nth-child(6) img {
            max-width: 50%;
        }
    }
}

@media only screen and (max-width: 19.188em) {      // 307px or below, NOT SUPPORTED
    html {
        background: black;
    }
    body { 
        display: none;
    }
}

  // ---------------------------------- Media Queries (heights)

  @media only screen and (max-width: 38.438em) and (max-height: 53.750em) {     // Max-width: 615px, max-height: 860px
    body {
        overflow: auto;
    }
    main {
        min-height: 430px;
    }
    .skillSection {
        min-height: 230px;
    }
    .projectMain {
        height: fit-content;
    }
    .projectList {
        height: fit-content;
    }
  }