
// Portfolio SCSS
 
 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 html {
     height: 100%;
     font-size: 62.5%;
 }

 body {
     min-height: 100vh;
     overflow-x: hidden;
     scroll-behavior: smooth;
 }

 @mixin bringCenter() {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 $firstColor: #2EC8D1;
 $secondColor: #438c97;
 $thirdColor: #0d3444;
 $boxColor: #474747;

 .container {
     width: 75%;
     max-width: 1440px;
     height: 100%;
     margin: 0 auto;
 }

 .mobileMenu {
     display: none;
 }

 // --------------------------------------------- Main Section [HOME PAGE]

 main {
    width: 100%;
    height: 70vh;                       // Fallback JPG background because SAFARI :[
    background-image: url(../images/background.avif), url(../images/background.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
 }

 #wave {
     width: 100vw;
     position: absolute;
     left: 0;
     bottom: 0;
     transition: transform 3s ease;
 }

 .mainContainer {
     & .mainText {
         text-align: right;
         font-family: monospace;
         line-height: 1.5;
         font-size: 3.3rem;
         margin-top: 3em;
         user-select: none;
         animation: fadeIn 1s ease-in;
         animation-iteration-count: 1;
         & > span {
            font-family: 'Cinzel', 'Arial';
            font-weight: 600;
            color: $thirdColor;
         }
     }
 }

 header {
     width: 100%;
     height: 8rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 2rem;
     border-bottom: 1px solid black;
     & ul {
         display: flex;
         gap: 3rem;
     }
     & ul li {
        font-family: 'Cinzel', 'Arial';
        font-weight: 300;
        list-style-type: none;
        font-size: 2rem;
        transition: transform 0.3s ease;
        &:hover {
            transform: translateY(-5px);
        }
     }
     & > h3 {
         font-family: 'Cinzel', 'Arial';
         font-size: 3.2rem;
         user-select: none;
     }
 }

 .projectHead {
     border-bottom: 1px solid black;
 }

 a {
     text-decoration: none;
     color: inherit;
 }

  // ---------------------------------- Skill Section

  .skillSection {
    height: 20vh;
    width: 100%;
    background: $secondColor;
    position: relative;
    padding-bottom: 1.5rem;
  }

  .flexParent {
      height: 100%;
      width: 100%;
      @include bringCenter();
      gap: 8rem;
      & img {
          max-width: 80%;
          min-width: 85px;
      }
      & > div {
          width: 15rem;
          height: 100%;
          @include bringCenter();
      }
      & div:nth-child(1) img {
          max-height: 59%;
      }
  }

  // ---------------------------------- Footer Section

  footer {
      height: 10vh;
      width: 100%;
      background: $thirdColor;
      @include bringCenter();
      position: relative;
      & a {
          height: 5em;
          width: 5em;
          background-image: url(../images/githubIcon.png);
          background-position: center;
          background-size: cover;
          @include bringCenter();
          cursor: pointer;
          transition: transform 1s ease;
          &:hover {
              transform: rotate(360deg);
          }
      }
  }

  // ------------------------------------------ Main Section [Contact Page]

.contactPage {
    min-height: 620px;
    height: 90vh;
    overflow: hidden;
    & .formSection {
        width: 100%;
        height: 90%;
        @include bringCenter();
    }
}

.mainForm {
    height: 450px;
    width: 340px;
    background: whitesmoke;
    animation: contactForm 0.75s ease-in;
    animation-fill-mode: forwards;
    & .formTitle {
        width: 100%;
        background: black;
        margin-bottom: 1.5em;
        @include bringCenter();
        padding: 1.5rem;
        & > h4 {
            font-size: 3rem;
            color: white;
            font-family: 'Cinzel', 'Arial';
        }
    }
    & .theForm {
        height: 300px;
        @include bringCenter();
        flex-direction: column;
        gap: 2%;
        font-size: 1.7rem;
        font-family: 'Arial';
        position: relative;
        & > textarea {
            resize: none;
            font-size: 16px;
            padding: 0.2em;
            font-family: 'Arial';
        }
    }
    & .bottomForm {
        height: 62px;
        @include bringCenter();
        & > button {
            padding: 0.7em 1.6em;
            font-family: 'Arial';
            appearance: none;
            border: none;
            cursor: pointer;
            background: black;
            color: white;
            transition: padding 0.25s ease;
            border-radius: 0.4em;
            &:hover {
                padding: 0.9em 1.7em;
            }
        }
    }
}

 // ------------------------------------------ Main Section [Projects Page]

 .projectMain {
     height: fit-content;
     background: #3c8893;
 }

 .firstProjectList, .secondProjectList {
     height: fit-content;
     @include bringCenter();
     gap: 5rem;
     margin: 4rem 0rem;
     & h2 {
         user-select: none;
         text-align: center;
         font-size: 2.5rem;
         font-family: 'Cinzel';
         padding: 0.4em;
         color: white;
         background: black;
         border-top-left-radius: 2rem;
         border-top-right-radius: 2rem;
         margin-bottom: 0.5em;
     }
     & > div {
         width: 400px;
         height: 425px;
         background: $boxColor;
         border-radius: 2em;
         box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
     }
     & .pictureBG {
        height: 44%;
        width: 75%;
        margin: 0.3em auto 1em;
        border-radius: 1em;
        border: 1px solid black;
     }
     & .projectDescription {
        padding: 2%;
        height: 23%;
        color: white;
        font-size: 1.8rem;
        text-align: center;
        font-family: 'Times New Roman';
     }
     & p {
         @include bringCenter();
         height: 10%;
         font-size: 1.5rem;
         font-family: 'Cinzel';
     }
     & .projectLinks {
         padding: 0.7em;
         border-radius: 0.5em;
         background: black;
         color: white;
         transition: transform 0.3s ease;
         &:hover {
            transform: scale(1.05);
         }
     }
 }

 .secondProjectList {
    margin-bottom: 0rem;
    padding-bottom: 3rem;
 }

 .bbSearch > .pictureBG {
     background: url('../images/breakingBadAPI.PNG');
     background-position: center;
     background-size: cover;
 }

 .etchProject > .pictureBG {
     background: url('../images/etch.PNG');
     background-position: center;
     background-size: cover;
 }

 .rPsProject > .pictureBG {
    background: url('../images/rPs.PNG');
    background-position: center;
    background-size: cover;
}

@keyframes fadeIn {
    from {
        transform: translateX(-5rem);
        opacity: 0;
    } 
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes contactForm {
    from {
        box-shadow: 0rem;
    }
    to {
        box-shadow: 1rem 1rem 0rem #181818;
    }
}


  // ---------------------------------- Media Queries (widths) [Built Desktop First]

  @media only screen and (min-width: 84.375em) {    // Shrink wave on big screens
    #wave {
        max-height: 85px;
    }
  }
  
  @media only screen and (max-width: 87.5em) {
    html {
        font-size: 58.5%;
    }
    .container {
        width: 80%;
    }
    .flexParent {
        gap: 5em;
    }
  }

  @media only screen and (max-width: 62.5em) {      // 1000px [tablet]
    html {
        font-size: 55.5%;
    }
    .container {
        width: 90%;
    }
    .flexParent {
        gap: 2em;
    }
    .firstProjectList, .secondProjectList {
        gap: 3rem;
        & h2 {
            font-size: 2.3rem;
        }
        & > div {
            height: 400px;
            width: 375px;
        }
    }
  }

  @media only screen and (max-width: 42.188em) { 
    .flexParent {
        gap: 0em;
            & img {
                min-width: 68px;
            }
    }
  }

  @media only screen and (max-width: 38.438em) {    // 615px [mobile]
    main {
        height: 55vh;
        position: relative;
        & > .menuOverlay {
            z-index: 1;
            position: absolute;
            top: 0;
            width: 100vw;
            height: 100vh;
            background: black;
            opacity: 0.5;
            display: none;
        }
    }
    .mainContainer .mainText {
        font-size: 2.8rem;
    }
    .skillSection {
        height: 35vh;
    }
    .flexParent {
        flex-wrap: wrap;
        & > div {
            height: initial;
            width: 15.59rem; 
        }
        img {
            max-width: 69%;
        }
        & div:nth-child(1) img {
            max-width: 60%;
        }
        & div:nth-child(6) img {
            max-width: 57%;
        }
    }

    header {                    // hamburger menu
        & ul {
            display: none;
        }
        & .burgerIcon {
            width: 29px;
            height: 19px;
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            & > div:nth-child(2) {
                width: 100%;
                height: 3px;
                background: black;
            }
            & > .topBun {
                width: 100%;
                height: 3px;
                background: black;
                position: absolute;
                top: 0;
            }
            & > .bottomBun {
                width: 100%;
                height: 3px;
                background: black;
                position: absolute;
                bottom: 0;
            }
        }
    }
    .mobileMenu {
        height: 23rem;
        width: 15rem;
        background: $thirdColor;
        position: absolute;
        top: -23rem;
        right: 0;
        border-bottom-left-radius: 3rem;
        @include bringCenter();
        flex-direction: column;
        gap: 2em;
        z-index: 2;
        box-shadow: inset 0 0 4px;
        transition: transform 0.4s ease-in-out;
        & > a {
            font-size: 2.7rem;
            color: white;
        }
    }
    .mobileMenu.active {
        display: flex;
        transform: translateY(23rem);
    }

    .menuOverlay.active {
        display: flex;
    }

    .firstProjectList, .secondProjectList {
        flex-direction: column;
        & > div {
            height: 350px;
            width: 315px;
        }
        & .projectDescription {
            font-size: 1.6rem;
        }
        & .pictureBG {
            width: 215px;
            height: 40%;
        }
        & p {
            font-size: 1.2rem;
            height: 13%;
        }
        & .projectLinks {
            padding: 1em;
        }
    }
    .mainForm {
        width: 300px;
        height: 440px;
        & .formTitle {
            margin-bottom: 1.2em;
        }
        & .bottomForm {
            height: 68px;
        }
    }
    .firstProjectList {
        margin-bottom: 3rem;
    }
    .secondProjectList {
        margin-top: 3rem;
    }
}

@media only screen and (max-width: 28.813em) {      // 461 PX [Mobile] 
    main {
        height: 50vh;
    }
    .skillSection {
        height: 40vh;
    }
    .flexParent {
        & img {
            max-width: 58%;
        }
        & div:nth-child(1) img,
        & div:nth-child(6) img {
            max-width: 50%;
        }
    }
}

@media only screen and (max-width: 20.313em) {      // 325px or below
    .firstProjectList, .secondProjectList {
        & > div {
            width: 290px;
        }
    }
}


@media only screen and (max-width: 19.188em) {      // 307px or below, not supported
    html {
        background: black;
    }
    body { 
        display: none;
    }
}

  // ---------------------------------- Media Queries (heights)

  @media only screen and (max-width: 38.438em) and (max-height: 53.750em) {     // Max-width: 615px, max-height: 860px
    main {
        min-height: 430px;
    }
    .skillSection {
        min-height: 300px;
    }
    .projectMain {
        height: fit-content;
    }
  }

  @media only screen and (max-width: 38.438em) and (max-height: 39.375em) {
    footer {
        padding: 4em;
    }
  }

  // ------> Mobile Small Heights ABOVE, Tablet/Desktop Small Heights BELOW

  @media only screen and (min-width: 38.438em) and (max-height: 48.125em) {     // Min-width: 615px, max-height: 770px
    .indexMain {
        height: fit-content;
        padding-bottom: 35rem;
    }
    .skillSection {
        min-height: 166px;
        padding: 4em;
    }
    .mainContainer .mainText {
        font-size: 3rem;
    }
    .flexParent div:nth-child(1) img {
        max-height: 90px;
    }
    footer {
        padding: 3em;
    }
  }

  @media only screen and (min-width: 38.438em) and (max-height: 39.375em) {     // Min-width: 615px, max-height: 630px
    .projectMain {
        height: fit-content;
    }
    .firstProjectList, .secondProjectList {
        & > div {
            width: 350px;
            height: 369px;
        }
    }
    .contactPage {
        min-height: 620px;
    }
    footer {
        padding: 4em;
    }
  }

  @media only screen and (min-width: 38.438em) and (max-height: 56.250em) {
    #wave {
        max-height: 65px;
    }
  }